@import nib

greydark = #313942
greydarker = #19202A
greydarkest = #131922

body
  font-family "Roboto", "Arial"
  background-color greydark
  color white
  text-align center
  height 100vh

a
  color white
  &:hover
    color white
    text-decoration none

header,
#header
  text-align left
  padding-top 25px
  height 10vh
  display block
  .sponsor
    opacity 0.3
    height 147px
    margin-left 30px

#landing
  height 35vh
  background: url("../img/logo.png") no-repeat center
  background-size contain

#main-content
  position fixed
  height 55vh
  min-height 200px
  width 100%
  bottom -120px
  #all-guests-container
    height calc(100% - 120px)
    overflow-x auto
    overflow-y hidden
    white-space nowrap
    .guest-container
      display inline-block
      height 100%
      width 25%
      min-width 250px
      &:hover
        cursor pointer
        cursor hand
      .summary
        height 70px
        h2.overview
          font-size 22px
          margin-top 0
          .episode
            opacity 0.5
            font-weight 100
            margin-right 3px
        .company
          font-size 17px
          font-weight 300
      .image
        height calc(100% - 70px)
        transition background 0.5s
      &.inactive
        opacity 0.3
  #all-soundcloud-container
    height 120px
    .soundcloud-container
      display none
      height 100%
      background greydarker
      padding 0 75px
      .episode-summary
        width 300px
        height 100%
        text-align left
        padding-left 10px
        background greydarkest
        display inline-block
        vertical-align top
        float left
        font-size 14px
        p
          margin-bottom 4px
        .overview
          margin-top 15px
          font-size 16px
          .episode
            font-weight 100
          .guest-name
            font-weight 500
        .company
          margin-left 45px
        .episode,
        .duration,
        .ipa
          opacity 0.5
        .episode,
        .fa
          font-size 16px
          float left
          width 35px
          text-align right
          margin-right 10px
      .soundcloud-player
        overflow hidden
        iframe
          height 120px
          width 100%
      &.active
        display block

episode(name, episode)
  .guest-container[data-guest={name}]
    .image
      background url("../img/guests/" + episode "-" + name "-off.png") no-repeat center
      background-size contain
      @media (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all, (min-resolution: 138dpi), (min-resolution: 1.5dppx)
        background url("../img/guests/" + episode "-" + name "-off@2x.png") no-repeat center
    &:hover
      .image
        background url("../img/guests/" + episode "-" + name "-on.png") no-repeat center
        background-size contain
        @media (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all, (min-resolution: 138dpi), (min-resolution: 1.5dppx)
          background url("../img/guests/" + episode "-" + name "-on@2x.png") no-repeat center

episode(kin, '001')
episode(alex, '002')
episode(amber, '003')
episode(koberger, '004')

@media (max-width: 600px)
  header,
  #header
    padding 10px 0 50px 0
    text-align center
    .sponsor
      margin 0
      img
        height 30px
  #main-content
    #all-soundcloud-container
      .soundcloud-container
        padding 0
        .episode-summary
          width 200px

@media (max-width: 600px) and (max-height: 550px)
  #main-content
    #all-guests-container
      overflow-x scroll
      .guest-container
        .summary
          h2.overview
            font-size 18px
          .company
            font-size 14px
    #all-soundcloud-container
      .soundcloud-container
        .episode-summary
          display none

