extends layout

block content
  .container-fluid
    header
      a.sponsor(href="https://readme.io/")
        img(src="/img/readme.png")
    #landing
      img(src="/img/logo.png")
    #podcasts-container
      #guests-container
        .guest#koberger
          .podcast-info
            h2.podcast-episode
              span.episode 004 
              span.guest-name Greg Koberger 
              a.twitter(href="http://twitter.com/gkoberger")
                span.fa.fa-twitter
            h3.company ReadMe.io 
          .guest-image x
        .guest#alex
          .podcast-info
            h2.podcast-episode
              span.episode 003 
              span.guest-name Alex Maccaw
              a.twitter(href="http://twitter.com/maccaw")
                span.fa.fa-twitter
            h3.company Clearbit 
          .guest-image x
      #soundcloud
        #episode-info
          p.summary
            span.episode 004 
            span.guest-name Gregory Koberger
          p.company ReadMe.io
          p.time 42 minutes
          p.ipa Pliney the Elder
        #player
          player
