extends layout

block content
  .container-fluid
    header
      a.sponsor(href="https://readme.io/")
        img(src="/img/readme.png")
    #landing
      img(src="/img/logo.png") 
    #podcasts-container
      #guests-container
        .guest#koberger
          .podcast-info
            h2.podcast-episode
              span.episode 004 
              span.guest-name Greg Koberger 
              a.twitter(href="http://twitter.com/gkoberger" target="_blank")
                span.fa.fa-twitter
            h3.company ReadMe.io 
          .guest-image  
        .guest#amber
          .podcast-info
            h2.podcast-episode
              span.episode 003 
              span.guest-name Amber Feng
              a.twitter(href="http://twitter.com/amfeng" target="_blank")
                span.fa.fa-twitter
            h3.company Stripe
          .guest-image  
        .guest#alex
          .podcast-info
            h2.podcast-episode
              span.episode 002 
              span.guest-name Alex Maccaw
              a.twitter(href="http://twitter.com/maccaw" target="_blank")
                span.fa.fa-twitter
            h3.company Clearbit 
          .guest-image 
        .guest#kin
          .podcast-info
            h2.podcast-episode
              span.episode 001 
              span.guest-name Kin Lane
              a.twitter(href="http://twitter.com/kinlane" target="_blank")
                span.fa.fa-twitter
            h3.company API Evangelist
          .guest-image  
      #soundcloud
        #episode-info
          p.summary
            span.episode 
            span.guest-name
          p.company
          p.duration
            span.fa.fa-clock-o
            span.time
          p.ipa
            span.fa.fa-beer 
            span.ipa-name
        #player
          iframe(src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196372345&amp;color=e28700&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" frameborder="0" scrolling="no")

